.body{
  background-color: white;
}

.col{
  padding: 5px;
  text-align: center;
  color: white;
  border: solid 1px #ffffff;
  cursor: pointer;
  background-color: #212121;
}
.col-lg-2{
  cursor: auto;
}
.col-md{
  padding: 5px;
  text-align: left;
  color: white;
  border: solid 1px #fffff;
}

.thumbnail{
  margin: 1%;
  border: solid 1px #212121;
}

.col-md:hover{

  opacity: 0.3;
}

#formlogin{
  background-image: url(https://i.ibb.co/Fg5Vgbd/black.jpg);
}


#panel1, #panel2, #panel3, #panel4, #panel5, #panel6, #panel7, #panel8, #panel9, #panel10, #panel11, #panel12{
  display: none;
}
